body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #003a70;
    background-image: url("");
}

header {
    background-color: #003a70;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

.about {
    background-color:black;
    padding: 20px;
}
.About-icon:hover {
    background-color: #ff0000; 
    color:black; 
    border: 2px
  }
  
.Product{
    background-color: #fff;
    padding: 20px;
}

.contact {
    background-color: #f0f0f0;
    padding: 20px;
}

footer {
    text-align: center;
    background-color:#003a70;
    color: white;
    padding: 10px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #44a7e9;
    text-decoration: none;
}

.social-icon:hover {
    color: #e7eff7;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.image {
    text-align: center;
}

.image img {
    width:1250px; 
    height: 300px; 
      
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}

h4 {
    font-size: 24px;
    color: #f3eded;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 36px;
    color: #e7eaec;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 18px;
    color: #faf9f9;
    line-height: 1.5;
    font-style: italic;
}
